body {
  background-image: url(../asset/bg/bg-image.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.nav-tabs {
  --bs-nav-tabs-link-active-border-color: #f41817 #f41817 #fff;
  --bs-nav-tabs-border-color: #f41817;
  --bs-nav-tabs-link-hover-border-color: #f41817 #f41817 #f41817;
}

.daftar .card{
  margin-right: 210px;
  margin-left: 210px;
}

.card-header {
  color: white;
  background-color: #f41817;
  border-bottom: var(--bs-card-border-width) solid #f41817;
}

.judul {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.daftar .btn-primary {
  --bs-btn-bg: #f41817;
  --bs-btn-border-color: #f41817;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a81110;
  --bs-btn-hover-border-color: #a81110;
}