body {
  background-image: url(../asset/bg/bg-image.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.nav-tabs {
  --bs-nav-tabs-link-active-border-color: #f41817 #f41817 #fff;
  --bs-nav-tabs-border-color: #f41817;
  --bs-nav-tabs-link-hover-border-color: #f41817 #f41817 #f41817;
}

.judul {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-warning {
  --bs-table-bg: #f41817;
  --bs-table-color: white;
}

.table>thead {
  vertical-align: middle;
  text-align: center;
}

table.dataTable>tbody>tr {
  text-align: center;
}

tbody, td, tfoot, th, thead, tr {
  text-align: -webkit-center;
  vertical-align: middle;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  opacity: 100%; 
}

.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-container {
  width: 200px;
}

.programming-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  background-color: white;
}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.programming-stats .details ul {
  list-style: none;
  padding: 0;
}

.programming-stats .details ul li {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
}

.programming-stats .details .percentage {
  font-weight: 700;
  color: #e63946;
}
