body {
    background-image: url(../asset/bg/bg-image.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
  }
  
  .nav-tabs {
    --bs-nav-tabs-link-active-border-color: #f41817 #f41817 #fff;
    --bs-nav-tabs-border-color: #f41817;
    --bs-nav-tabs-link-hover-border-color: #f41817 #f41817 #f41817;
  }

  .slider .w-100 {
    width: 100%!important;
    height: 446px;
}